body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-image: url("../imagenes/thomas-kinto-6MsMKWzJWKc-unsplash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
}

header {
  background-color: black;
  color: white;
  padding: 30px;
  text-align: center;
}
nav {
  background-color: #002fa7;
  padding: 20px 0;
}

nav ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
  font-size: 1.5rem;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

nav:hover {
  background-color: #ffffff;
}

nav:hover ul li a {
  color: #002fa7;
}
main {
  padding: 40px 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  width: 100%;
}

section {
  background-color: white;
  padding: 25px;
  border-radius: 10px;
  border: 2px solid #002fa7;
  margin-top: 0px;
  width: 300px;
  min-height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

section h2 {
  margin-bottom: 10px;
  color: #002fa7;
}

section p {
  margin-bottom: 15px;
}

section ul {
  padding-left: 20px;
  margin-bottom: 20px;
}

section ul li {
  margin-bottom: 8px;
}
a {
  color: 002fa7;
  text-decoration: none;
}

.boton-comprar {
  display: inline-block;
  background-color: #002fa7;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.boton-comprar:hover {
  background-color: #002fa7;
}

footer {
  background-color: #002fa7;
  color: white;
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.footer-redes {
  text-align: center;
}

.footer-redes a {
  margin: 0 10px;
  color: white;
  font-size: 2rem;
  transition: color 0.3s ease;
}

.footer-redes a:hover {
  color: black;
}

.footer-creditos {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1000px;
  text-align: center;
  gap: 20px;
}

.footer-creditos .columna {
  flex: 1;
  min-width: 200px;
}

.footer-creditos h3 {
  margin-bottom: 10px;
  font-size: 1.2rem;
}

.footer-creditos p {
  margin: 5px 0;
}
